<div class="row">
  <div class="span4">Header</div>
  <div class="span8"><h1>Welcome to a Rails Application</h1>
<p>
	You have found a <%= link_to "home page", "http://example2.com" %>
</p>
<p>
	<%= link_to "Sighn Up Now!", "#", class: "btn btn-primary btn-large" %>
</p>
</div>
</div>



